.gradient-top-to-bottom {
  background-image: linear-gradient(black, rgb(57, 53, 53));
  color: white;
}

.menu-item-text {
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 1.5em;
}

.tab-content {
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #555;
}

.tab-pane {
  margin-top: 15px;
}

h2 {
  margin-top: 2em;
}

.navbar ul {
  background-color: black;
}

.navbar {
  margin-top: 0;
  padding-top: 0;
  background-color: black;
}

.nav-link:focus,
.nav-link:hover {
  color: red;
}

.nav-underline .nav-link {
  border-bottom: 0 none;
}

body {
  margin-bottom: 50em;
}

.navbar-toggler {
  background-color: black;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-brand {
  padding: 0px;
  background-color: black;
  margin-right: 0;
}
